body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  padding-bottom: 50px;
}
h3 {
  margin-top: 50px;
}
li {
  margin: 25px 50px 0 0;
}
table {
  width: 100vw;
  margin: 0 50px 0 50px;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}

.parent {
display: flex;
width: 100%;
height: 100vh;
justify-content: space-evenly;

}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.svg{
  width:60vw;
  height:60vw;
}
.quarter {
  display: flex;
  flex-direction: row;
  grid-row-gap: 0px;
  overflow: hidden;
  overflow-y: auto;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 50%;
}

@media only screen and (max-width: 800px){
  .quarter{
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px;
  overflow: hidden;
  overflow-y: auto;
  flex-wrap: wrap;
  }
}

