body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  padding-bottom: 50px;
}
h3 {
  margin-top: 50px;
}
li {
  margin: 25px 50px 0 0;
}
table {
  width: 100%;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}

.parent {
display: flex;
width: 100%;
height: 100vh;
justify-content: space-evenly;

}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
}
.svgContainer{
  width:60vw;
  height:100%;
  position: relative;
}

.quadrant_name {
  font-family: Inter;
  font-weight: 900;
  font-size: 18px;
  color: white;
}

.ring_name {
  font-family: Inter;
  font-weight: bold;
  font-size: 12px;
  color: white;
}
.techno_name {
  font-family: Inter;
  font-size: 11px;
  color: white;
}
@media only screen and (max-width: 1000px){
  .parent {
    width: 100%;
    height: 60vh;
  }
  .svgContainer {
    width: 60%;
    height: 100%
  }
  .svg {
    position: absolute;
    top: 50%;
  }
  .quadrant_name{
    font-size: 15px;
  }
  .ring_name {
    font-size: 9px;
  }
  .techno_name {
    font-size: 8px
  }
}

@media only screen and (max-width: 520px) {
  .parent {
    width: 100%;
    height: 40vh;
  }
  .svgContainer {
    width: 60%;
    height: 100%
  }
  .svg {
    position: absolute;
    top: 50%;
  }
  .quadrant_name{
    font-size: 15px;
  }
  .ring_name {
    font-size: 9px;
  }
  .techno_name {
    font-size: 8px
  }
}

.quadrant {
  height: 100%;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.quarter {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-y: auto;
  flex-wrap: nowrap; 
  grid-row-gap: 0px;
  justify-content: flex-start;
  flex : 1 0 0;
}


